{% extends 'parent.html.twig' %}

{% block title %}教师主页{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <p>{{user.username}} 老师, 您好!</p>
    <p>注销请点击 <a class="btn btn-default" href="/logout">注销</a></p>
    {{ form_start(form, {'attr': {'class': 'homework'} }) }}
        <h4>录入作业：</h4>
        <table class="customize_table">
            <tr>
                <td>请输入题目</td>
                <td>
                    {{ form_widget(form.title) }}
                </td>
            </tr>
            <tr>
                <td>请输入内容</td>
                <td>
                    {{ form_widget(form.content) }}
                </td>
            </tr>
            <tr>
                <td>可选择填加附件</td>
                <td>
                    {{ form_widget(form.file) }}
                </td>
            </tr>
        </table>
        <input class="btn btn-default submit" type="submit" value="提交">
    {{ form_end(form) }}
    
    <br>
    {% if pagination.getTotalItemCount > 0%}
    {# total items count #}
    <div class="count">
        <p>系统已存在以下作业题目(共<strong>{{ pagination.getTotalItemCount }}</strong>个)</p>
    </div>
    <table class="customize_table">
    <tr>
    {# sorting of properties based on query components #}
        <th>
            {{ knp_pagination_sortable(pagination, '标识', 'a.id') }}
        </th>
        <th {% if pagination.isSorted('a.title') %}class="sorted"{% endif %}>
            {{ knp_pagination_sortable(pagination, '标题', 'a.title') }}
        </th>
        <th {% if pagination.isSorted('a.content') %}class="sorted"{% endif %}>
            {{ knp_pagination_sortable(pagination, '内容', 'a.content') }}
        </th>
        <th>
            附件
        </th>
        <th {% if pagination.isSorted('a.username') %}class="sorted"{% endif %}>
            {{ knp_pagination_sortable(pagination, '出题人', 'a.username') }}
        </th>
        <th>
            答题数
        </th>
        <th>
            操作
        </th>
    </tr>

    {# table body #}
    {% for homework in pagination %}
    <tr {% if loop.index is odd %}class="color"{% endif %}>
        <td>{{ homework.id }}</td>
        <td>{{ homework.title }}</td>
        <td>{{ homework.content }}</td>
        <td>{{ homework.getFileUri()|raw }}</td>
        <td>{{ homework.username }}</td>
        <td>{{ homework.answers|length }}</td>
        <td><a href="/homework/{{ homework.id }}">查看</a></td>
    </tr>
    {% endfor %}
    </table>
    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}